- now = Time.now
#selection_form_container
  %form{:name => 'selectionform', :id => 'selectionform', 
    :action => controller.potato_overview_path, 
    :method => 'post'}
    = hidden_field_tag :authenticity_token, form_authenticity_token
    %table
      %tbody
        %tr
          %td
            %label{:for => 'user'} Username:
            %input{:type => 'text', 
              :name => 'user', 
              :value => @context[:overview_username]}
        - if (errs = @context[:errors]) && (errs = errs[:user])
          %tr
            %td{class: ['red', 'strong']}
              %ul
                - errs.each do |err|
                  %li= err
#overview
  %table.pretty
    %thead
      %tr
        %th Version
        %th Tasks
        %th Due
    %tbody
      - @context[:overview_table_data].each do |line|
        - version = line[:version]
        - tasks = line[:tasks]
        - due = line[:due]
        - red_line = version == 'Unversioned' || (due && due < now)
        %tr
          %td{class: (['strong', 'red'] if version == 'Unversioned')}
            = version
          %td
            = tasks
          %td{class: (['strong', 'red'] if due && due < now)}
            = due ? timeago_tag(due) : 'N/A'
