- right_arrow = "\u2192"
%h1= "Listing #{controller.controller_display_name}"
%p#notice= notice

%table.table.condensed-table.pretty
  %thead
    %tr
      %th{'data-sortable' => 'true'} User first name
      %th{'data-sortable' => 'true'} User last name
      %th{'data-sortable' => 'true'} Is admin
      %th
      %th

  %tbody
    - @user_permissions.sort_by{|perm| perm.user.human_email}.each do |user_permission|
      - user = user_permission.user
      %tr
        %td= link_to user.fname, user
        %td= link_to user.lname, user
        %td
          = user_permission.is_admin
          - if !!user_permission.is_admin != user.is_admin?
            %span.red.strong= "<user.is_admin? #{right_arrow} #{user_permission.user.is_admin?}>"
        %td= link_to 'Show', user_permission
        %td= link_to 'Edit', edit_user_permission_path(user_permission)
