- user = @user_permission.user
%p#notice= notice

%table.hpretty
  %tr
    %th User:
    %td= link_to breakable_email(user.human_email), user
  %tr
    %th Is admin:
    %td
      = @user_permission.is_admin
      - notes = admin_notes(@user_permission)
      - if notes.present?
        %span.red.strong= "<#{notes.join '; '}>"

= link_to 'Edit', edit_user_permission_path(@user_permission)
\|
= link_to 'Back to user permissions', user_permissions_path

