%p#notice= notice

%p
  %b User:
  = @user_permission.user
%p
  %b Is admin:
  = @user_permission.is_admin

= link_to 'Edit', edit_user_permission_path(@user_permission)
\|
= link_to 'Back', user_permissions_path
