= form_for @user do |f|
  .container-fluid
    - if @user.errors.any?
      .row#error-explanation
        %h3= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg
    .row.form-group
      .col-sm-2.field= f.label :fname, 'First name'
      .col-sm-10= f.text_field :fname, class: 'form-control'
    .row.form-group
      .col-sm-2.field= f.label :lname, 'Last name'
      .col-sm-10= f.text_field :lname, class: 'form-control'
    .row.form-group
      .col-sm-2.field= f.label :email, 'E-mail'
      .col-sm-10= f.email_field :email, class: 'form-control'
    .row.form-group
      .col-sm-2.field= f.label :password
      .col-sm-10= f.password_field :password, class: 'form-control'
    .row.form-group
      .col-sm-2.field= f.label :password_confirmation, 'Confirm password'
      .col-sm-10= f.password_field :password_confirmation, class: 'form-control'
    .row.form_buttons.actions.input-group= f.submit 'Save'
