%h1 Listing users

%table.pretty
  %thead
    %tr
      %th First name
      %th Last name
      %th E-mail
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.fname
        %td= user.lname
        %td= user.email.sub /\A([^@])[^@]+@/, '\1***@'
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
