%h1 Listing users

= link_to 'New User', new_user_path
%table.table.table-condensed.pretty
  %thead
    %tr
      %th{'data-sortable' => 'true'} First name
      %th{'data-sortable' => 'true'} Last name
      %th{'data-sortable' => 'true'} E-mail
      %th
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.fname
        %td= user.lname
        %td= user.concealed_email
        %td= link_to 'Permissions', user.user_permission
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td
          - if user.is_root?
            %span.strong.grey Root user
          - else
            = link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
= link_to 'New User', new_user_path
