= form_for @due_date do |f|
  .container-fluid
    - if @due_date.errors.any?
      .row#error_explanation
        %h2= "#{pluralize(@due_date.errors.count, "error")} prohibited this due date from being saved:"
        %ul
          - @due_date.errors.full_messages.each do |msg|
            %li= msg
    .row.form-group
      .col-sm-4.field= f.label :branch_name
      .col-sm-8.input-group
        = f.text_field :branch_name
    .row.form-group
      .col-sm-4.field= f.label :target_version
      .col-sm-8.input-group
        = f.text_field :target_version
    .row.form-group
      .col-sm-4.field= f.label :due
      .col-sm-8.input-group.date
        = f.text_field :due, class: 'datepicker'
    .row.form_buttons.actions.input-group= f.submit 'Save'
