= form_for @due_date do |f|
  .container-fluid
    - if @due_date.errors.any?
      .row#error_explanation
        %h2= "#{pluralize(@due_date.errors.count, "error")} prohibited this due date from being saved:"
        %ul
          - @due_date.errors.full_messages.each do |msg|
            %li= msg
    .row.form-group
      .col-sm-2.field= f.label :branch_name
      .col-sm-10
        = f.text_field :branch_name, class: 'form-control'
    .row.form-group
      .col-sm-2.field= f.label :target_version
      .col-sm-10
        = f.text_field :target_version, class: 'form-control'
    .row.form-group
      .col-sm-2.field= f.label :due
      .col-sm-10.date
        = f.text_field :due, class: 'datepicker form-control'
    .row.form_buttons.actions.input-group= f.submit 'Save'
