%h1= "Listing #{controller.controller_display_name.downcase}"
%p#notice= notice

= link_to 'New due date', new_due_date_path
\|
= link_to 'Mass update...', due_dates_mass_update_path
%table.table.table-condensed.pretty
  %thead
    %tr
      %th{'data-sortable' => 'true'} Branch name
      %th{'data-sortable' => 'true'} Due
      %th
      %th
      %th

  %tbody
    - @due_dates.each do |due_date|
      %tr
        %td= due_date.branch_name
        %td
          - if due_date.due_ref.present?
            .strong.grey
              = "#{due_date.due_ref.branch_name}\u2192#{due_date.resolve}"
          - else
            = due_date.due
        %td= link_to 'Show', due_date
        %td= link_to 'Edit', edit_due_date_path(due_date)
        %td= link_to 'Destroy', due_date, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'New due date', new_due_date_path
