%p#notice= notice

%table.hpretty
  %tbody
    %tr
      %th Branch name:
      %td= @due_date.branch_name
    %tr
      %th Due:
      %td= @due_date.due

= link_to 'Edit', edit_due_date_path(@due_date)
- if notice.present?
  \|
  = link_to 'Create another', new_due_date_path
\|
= link_to 'Back to due dates', due_dates_path
