%p#notice= notice

%table.hpretty
  %tbody
    %tr
      %th Branch name:
      %td= @due_date.branch_name
    %tr
      %th Due:
      %td
        - if @due_date.due_ref.present?
          .strong.grey
            = "#{@due_date.due_ref.branch_name}\u2192#{@due_date.resolve}"
        - else
          = @due_date.due
    %tr
      %th Due reference:
      %td
        - if @due_date.due_ref.present?
          = link_to @due_date.due_ref.branch_name, @due_date.due_ref
        - else
          .strong.grey Not set


= link_to 'Edit', edit_due_date_path(@due_date)
- if notice.present?
  \|
  = link_to 'Create another', new_due_date_path
\|
= link_to 'Back to due dates', due_dates_path
