= form_for @resource_update do |f|
  .container-fluid
    - if @resource_update.errors.any?
      .row#error_explanation
        %h2= "#{pluralize(@resource_update.errors.count, "error")} prohibited this resource_update from being saved:"
        %ul
          - @resource_update.errors.full_messages.each do |msg|
            %li= msg
    .row.form-group
      .col-sm-4.field= f.label :name
      .col-sm-8.field= f.text_field :name
    .row.form-group
      .col-sm-4.field= f.label :updated
      .col-sm-8= f.datetime_select :updated
    .row.form-group
      .col-sm-4.field= f.label :source_uri, 'Source URI'
      .col-sm-8= f.text_area :source_uri
    .row
      .col-sm-4.field= f.label :user
      .col-sm-8= f.text_field :user
    .row.form_buttons.actions.input-group= f.submit 'Save'
