= form_for @resource_update do |f|
  .container-fluid
    - if @resource_update.errors.any?
      .row#error_explanation
        %h2= "#{pluralize(@resource_update.errors.count, "error")} prohibited this resource_update from being saved:"
        %ul
          - @resource_update.errors.full_messages.each do |msg|
            %li= msg
    .row.form-group
      .col-sm-2.field= f.label :name
      .col-sm-10= f.text_field :name, class: 'form-control'
    .row.form-group
      .col-sm-2.field= f.label :updated
      .col-sm-10= f.datetime_select :updated
    .row.form-group
      .col-sm-2.field= f.label :source_uri, 'Source URI'
      .col-sm-10= f.text_area :source_uri, class: 'form-control'
    .row
      .col-sm-2.field= f.label :user
      .col-sm-10= f.collection_select :user_id, User.all, :id, :human_email, class: 'form-control'
    .row.form_buttons.actions.input-group= f.submit 'Save'
