%p#notice= notice

%table.hpretty
  %tbody
    %tr
      %th Name:
      %td= @resource_update.name
    %tr
      %th Updated:
      %td= @resource_update.updated
    %tr
      %th Source URI:
      %td= breakable_uri @resource_update.source_uri
    %tr
      %th User:
      %td
        - user = @resource_update.user
        - name = breakable_email(user.human_email)
        = link_to name, @resource_update.user

= link_to 'Edit', edit_resource_update_path(@resource_update)
- if notice.present?
  \|
  = link_to 'Create another', new_resource_update_path
\|
= link_to 'Back to resource updates', resource_updates_path
