!!! 5
%html
  %head
    %title Potato</title>
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    controller_name, media: 'all', 'data-turbolinks-track' => true
    %script!= "document.context = #{@context.to_json};"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = timeago_script_tag
    = javascript_include_tag 'timeago.js'
    = csrf_meta_tags
  %body
    #main-container.container-fluid
      .row= render 'layouts/header'
      .row
        .col-md-1
        .col-md-10
          .row.page_section.article
            #content= yield
          .row.page_section= render 'layouts/footer'
          .row.page_section= debug(params) if Rails.env.development?
        .col-md-1
    = javascript_include_tag 'bootstrap.js'

