!!! 5
%html
  %head
    %title Potato
    %meta{name: "robots", content:"noindex,nofollow"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    controller_name, media: 'all', 'data-turbolinks-track' => true
    - if @context.present?
      %script!= "document.context = #{@context.to_json};"
    = csrf_meta_tags
  %body
    #main-container.container-fluid
      .row= render 'layouts/header'
      .row
        .col-md-1
        .col-md-10
          .row.page_section.article
            #content= yield
          .row.page_section= render 'layouts/footer'
          -if Rails.env.development?
            .row.page_section= debug(params)
        .col-md-1
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'timeago.js', 'data-turbolinks-track' => true
    = javascript_include_tag 'bootstrap.js', 'data-turbolinks-track' => true

